<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row menu-btn" id="attack-button-div">
                <button class="btn btn-block btn-primary" id="attack-button">1</button>
            </div>
            <div class="row menu-btn" id="skills-button-div">
                <button class="btn btn-block btn-primary" id="skills-button">2</button>
            </div>   
            <div class="row menu-btn" id="spells-button-div">
                <button class="btn btn-block btn-primary" id="spells-button">3</button>
            </div>    
            <div class="row menu-btn" id="items-button-div">
                <button class="btn btn-block btn-primary" id="items-button">4</button>
            </div>     
        </div>
        <div class="col-9">
            <div class="action-box" id="attack-box" style="display: none;">
                Hello box 1
            </div>
            <div class="action-box" id="skills-box" style="display: none;">
                Hello box 2
            </div>
            <div class="action-box" id="spells-box" style="display: none;">
                Hello box 3
            </div>
            <div class="action-box" id="items-box" style="display: none;">
                Hello box 4
            </div>
        </div>
    </div>
</div>