<div>
    <div style="display: flex; flex-direction: row;">
        <div class="left-action-box">
            <div class="action-buttons" id="attack-button-div">
                <div class="menu-btn">
                    <button class="btn w-75 btn-primary" id="attack-button">1</button>
                </div>
            </div>
            <div class="action-buttons" id="skills-button-div">
                <div class="menu-btn">
                    <button class="btn w-75 btn-primary" id="skills-button">2</button>
                </div>
            </div>
            <div class="action-buttons" id="spells-button-div">
                <div class="menu-btn">
                    <button class="btn w-75 btn-primary" id="spells-button">3</button>
                </div>
            </div>
            <div class="action-buttons" id="items-button-div">
                <div class="menu-btn">
                    <button class="btn w-75 btn-primary" id="items-button">4</button>
                </div>
            </div>  
        </div>
        <div class="right-action-box">
            <div class="action-box" id="attack-box" style="display: none;">
                Hello box 1
            </div>
            <div class="action-box" id="skills-box" style="display: none;">
                Hello box 2
            </div>
            <div class="action-box" id="spells-box" style="display: none;">
                Hello box 3
            </div>
            <div class="action-box" id="items-box" style="display: none;">
                Hello box 4
            </div>
        </div>
    </div>
</div>