<div>
    <div style="display: flex; flex-direction: row;">
        <div class="left-action-box">
            <div class="action-buttons" id="attack-button-div">
                <div class="menu-btn">
                    <button class="btn w-75 btn-primary" id="attack-button">Actions</button>
                </div>
            </div>
            <div class="action-buttons" id="skills-button-div">
                <div class="menu-btn">
                    <button class="btn w-75 btn-primary" id="skills-button">Skills</button>
                </div>
            </div>
            <div class="action-buttons" id="spells-button-div">
                <div class="menu-btn">
                    <button class="btn w-75 btn-primary" id="spells-button">Spells</button>
                </div>
            </div>
            <div class="action-buttons" id="items-button-div">
                <div class="menu-btn">
                    <button class="btn w-75 btn-primary" id="items-button">Items</button>
                </div>
            </div>  
        </div>
        <div class="right-action-box">
            <div class="container-fluid right-action-box-wrapper" id="attack-box-wrapper">
                <div class="row">
                    <div class="action-box" id="attack-box">
                        Attacks
                    </div>
                </div>
            </div>
            <div class="container-fluid right-action-box-wrapper" id="skills-box-wrapper">
                <div class="row">
                    <div class="action-box" id="skills-box">
                        Skills
                    </div>
                </div>
            </div>
            <div class="container-fluid right-action-box-wrapper" id="spells-box-wrapper">
                <div class="row">
                    <div class="action-box" id="spells-box">
                        Spells
                    </div>
                </div>
            </div>
            <div class="container-fluid right-action-box-wrapper" id="items-box-wrapper">
                <div class="row">
                    <div class="action-box" id="items-box">
                        <!--inventory items go here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>