<div class="container-fluid">
    <div class="row">
            <div class="col">
                <p class="nm">Training on dummy</p><span class="nm" id="current-activity-text"></span> 
            </div>   
            <div class="col">
                <p class="nm"></p><span class="nm"></span> 
            </div>  
            <div class="w-100"></div> <!--HERES A BREAK-->
            <div class="col">
                <p class="nm">&nbsp;</p><span class="nm"></span> 
            </div>   
            <div class="col">
                <p class="nm">&nbsp;</p><span class="nm"></span> 
            </div> 
            <div class="w-100"></div> <!--HERES A BREAK-->
            <div class="col">
                <p class="nm"></p><span class="nm" id="enemy-name">&nbsp;</span> 
            </div>   
            <div class="col">
                <p class="nm"></p><span class="nm"></span> 
            </div>
            <div class="w-100"></div> <!--HERES A BREAK-->
            <div class="col">
                <p class="nm">Health:&nbsp;</p><span class="nm" id="enemy-hp-text"></span> 
            </div>   
            <div class="col">
                <p class="nm"></p>
                <span class="nm" id="enemy-current-hp"></span>/
                <span class="nm" id="enemy-max-hp"></span> 
            </div> 
    </div>
</div>