<div class="partial col-md-6" id="create-box">
    <div class="row" id="name-row">
        <label for="char-name" class="col-form-label col-md-2">Name: </label>
        <input name="char-name" class="form-control col-md-4" type="text" id="name-input">
    </div>
    <div class="row" id="class-row">
        <label for="class-type" class="col-form-label col-md-2">Class: </label>
        <select name="class-type" class="form-control col-md-4" id="class-select">
            <option>Type 1</option>
            <option>Type 2</option>
            <option>Type 3</option>
        </select>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info col-md-6" id="save-char">Save</button>
    </div>
</div>