<div class="partial col-md-6" id="debug-box">
    <div class="row justify-content-end">        
        <h4 class="col-md-6">Debug menu</h4>
    </div>
    <div class="row justify-content-end">        
        <button type="button" class="btn btn-info col-md-6" id="delete-char">Delete char</button>
    </div>
    <div class="row justify-content-end">
        <button type="button" class="btn btn-info col-md-6" id="hide-box">Hide Debug</button>
    </div>
    <div class="row justify-content-end">
        <button type="button" class="btn btn-info col-md-6" id="stop-tick">Stop Ticker</button>
    </div>
    <div class="row justify-content-end">
        <button type="button" class="btn btn-info col-md-6" id="start-tick">Start Ticker</button>
    </div>
</div>