<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <p class="nm">Name:&nbsp;</p><span class="nm" id="name-text"></span>   
        </div>
        <div class="row">    
            <p class="nm">Health:&nbsp;</p><span class="nm" id="current-health-text"></span>/<span id="max-health-text"></span>
        </div>
        <div class="row">
            <p class="nm">Class:&nbsp;</p><span class="nm" id="class-type-text"></span><p class="nm">,&nbsp;</p> 
            <p class="nm">Level:&nbsp;</p><span class="nm" id="level-text"></span>,&nbsp; 
            <p class="nm">XP:&nbsp;</p><span class="nm" id="xp-text"></span>,&nbsp; 
            <p class="nm">Skill points:&nbsp;</p><span class="nm" id="skill-point-text"></span>
        </div> 
        <div class="row">
            <p class="nm">Strength:&nbsp;</p><span class="nm" id="strength-text"></span>
            <button type="button" class="stat-up-button" id="strength-up-button"><span>+</span></button>
        </div>
        <div class="row">
            <p class="nm">Defence:&nbsp;</p><span class="nm" id="defence-text"></span>
            <button type="button" class="stat-up-button" id="defence-up-button"><span>+</span></button>
        </div>  
        <div class="row">
            <p class="nm">Gold:&nbsp;</p><span class="nm" id="gold-text"></span>
        </div>  
    </div> 
</div>