<div class="container-fluid">
    <div class="row" id="train-box-container">
        <div class="select-box" id="train-box">
            <label><input type="radio" name="training-type" value="d1" checked>Easy Dummy</label>
            <label><input type="radio" name="training-type" value="d2">Medium Dummy</label>
            <label><input type="radio" name="training-type" value="d3">Hard Dummy</label>
        </div>
    </div>
    <div class="row" id="fight-box-container">
        <div class="select-box" id="fight-box">
            <button class="btn btn-danger" id="adventure-button">Adventure</button>
        </div>
    </div>
    <div class="row" id="shop-box-container">
        <div class="select-box" id="shop-box">
            <!-- item buttons go in here-->
        </div>
    </div>
</div>