<div class="container-fluid">
    <div class="row" id="train-box-container">
        <div class="select-box" id="fight-box">
            Training memes in here
        </div>
    </div>
    <div class="row" id="fight-box-container">
        <div class="select-box" id="train-box">
            Fighting memes in here
        </div>
    </div>
    <div class="row" id="shop-box-container">
        <div class="select-box" id="shop-box">
            <!-- item buttons go in here-->
        </div>
    </div>
</div>