* {
    box-sizing: border-box;
}

.partial {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.partial .btn, select, input {
    margin: 5px 0;
}

.child-partial {
    display: flex;
    flex-direction: row;
}

.nm {
    margin: 0 0 0 0;
}

#log-box {
    min-height: 150px;
    max-height: 150px;
}

#log-box option {
    max-width: 100%;
    white-space: normal;
}

/*BOOTSTRAP OVERRIDES*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}