* {
    box-sizing: border-box;
}

.partial {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.partial .btn, select, input {
    margin: 5px 0;
}

.child-partial {
    display: flex;
    flex-direction: row;
}

.nm {
    margin: 0 0 0 0;
}

#log-box {
    min-height: 150px;
    max-height: 150px;
}

#log-box option {
    max-width: 100%;
    white-space: normal;
}

#select-col {
    min-height: 150px;
}

.shop-box {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    max-height: 150px;
}

.nrm {
    margin-right: 0;
    padding-right: 0;
}

.menu-btn {
    margin: 2.5px 0;
}

.action-box {
    display: flex;
    flex-flow: row wrap;
    background: rgba(85, 72, 156, 0.5);
    min-height: 100%;
}

.left-action-box {
    min-width: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
}

.right-action-box {
    padding-right: 15px;
    min-width: 70%;
    max-width: 70%;
    display: flex;
    flex-flow: row wrap;
}

.action-buttons {
    padding-left: 15px; 
}

#attack-box, #skills-box, #spells-box, #items-box {
    min-width: 100%;
}
/*BOOTSTRAP OVERRIDES*/
